<div class="suggestion">
  <!-- <p class="suggestion__credit">Image by <span class="suggestion__credit__author">Kevin O'Connor</span></p> -->
  <!-- <div class="knockout--large" [ngStyle]="suggestion">  
    <svg class="knockout-text-container" width="100%" height="100%">        
      <rect style="height: 500px;" class="knockout-text-bg" width="100%" height="100%" fill="grey" x="0" y="0" fill-opacity="1" mask="url(#knockout-text-3)"/>        
      <mask id="knockout-text-3">
        <rect width="100%" height="100%" fill="#fff" x="0" y="0" />
        <text x="50%" y="80%" fill="#000" text-anchor="middle">T</text>
      </mask>       
    </svg>      
  </div> -->
  <div class="suggestion__stamp">Not sure what to read first? Try this —</div>
  <ul class="suggestion__wrapper">
    <li class="suggestion__item"><a class="suggestion__item__link" [routerLink]="['/post/', 'tube-finder']">TFL Tube Finder</a></li>
  </ul>
</div>