<div class="suggestion">
  <!-- <p class="suggestion__credit">Image by <span class="suggestion__credit__author">Kevin O'Connor</span></p> -->
  <!-- <div class="knockout--large" [ngStyle]="suggestion">  
    <svg class="knockout-text-container" width="100%" height="100%">        
      <rect style="height: 500px;" class="knockout-text-bg" width="100%" height="100%" fill="grey" x="0" y="0" fill-opacity="1" mask="url(#knockout-text-3)"/>        
      <mask id="knockout-text-3">
        <rect width="100%" height="100%" fill="#fff" x="0" y="0" />
        <text x="50%" y="80%" fill="#000" text-anchor="middle">T</text>
      </mask>       
    </svg>      
  </div> -->
  <div class="suggestion__stamp"></div>
  <ul class="suggestion__wrapper">
    <li class="suggestion__item">
      <a class="suggestion__item__link" [routerLink]="['/post/', 'tube-finder']">
        <svg height="80">
          <title>TFL Tube Finder</title>
          <path id="swoosh" d="M0,68.8886719 C63.6250036,59.703776 133.460159,59.703776 209.505465,68.8886719 C285.550772,78.0735677 395.361357,78.0735677 538.93722,68.8886719"></path>
          <text class="font-large" letter-spacing="1">
          <textPath xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#swoosh">
            <tspan x="0" dx="35%" text-anchor="middle">TFL Tube Finder</tspan>
          </textPath>
          </text>
        </svg>
      </a>
    </li>
  </ul>
</div>