<article class="article__inner no-margin-top">

	<div class="full-height__section full-height__section--column celestial align-center">
		<span data-cmp-parallax class="parallax-wrap">
			<h3 class="text_section__content">
				By Day — a <span class="contrast-text">Senior Front-end Developer at Localstars Ltd.</span>
			</h3>
			<p class="text_section__content--sub">
				Over 4 years experience in web design &amp; development solutions working with clients and product designers, for large and small businesses...
			</p>
		</span>
	</div>

	<div class="full-height__section full-height__section--column full-height__section--dark celestial celestial--night align-start">
		<h3 data-cmp-parallax class="text_section__content parallax-wrap">
			By Night — a UI &amp; experience designer working on a variety of (mainly self-initiated) projects.
		</h3>
	</div>

	<div class="container">
		<div class="full-height__section full-height__section--row full align-start">
			<h5 class="title__item">Skills</h5>

			<section class="content__item">
				<header>
					<h6 class="full-height__section__header">Technical</h6>
				</header>
				<ul class="full-height__section__list">
					<li>Angular 1.x + Angular 2, 4+</li>
					<li>HTML</li>
					<li>SASS + CSS</li>
					<li>TypeScript + JavaScript</li>
					<li>Adobe CC Suite</li>
					<li>Wordpress</li>
				</ul>
			</section>
			<section class="content__item">
				<header>
					<h6 class="full-height__section__header">Design + Methodology</h6>
				</header>
				<ul class="full-height__section__list">
					<li>Style guides</li>
					<li>UI design</li>
					<li>Prototyping</li>
					<li>User testing</li>
					<li>Web components</li>
					<li>Front-end architecture</li>
					<li>Style methodologies</li>
					<li>Cross browser compability</li>
					<li>Agile</li>
				</ul>
			</section>
		</div>

		<div data-cmp-get-in-touch></div>
	</div>
	
</article>