<article class="article__inner">

	<div class="container">
		<div class="full-height__section celestial">
			<h3 class="text_section__content">
				By Day, a <span class="contrast-text">Senior Front-end Developer at Localstars Ltd.</span> Over 4 years experience in web design &amp; development solutions working with clients and product designers, for large and small businesses...
			</h3>
		</div>
	</div>

	<div class="full-height__section full-height__section--dark celestial celestial--night">
		<div class="container">
			<h3 class="text_section__content">
				By Night, a UI &amp; experience designer working on a variety of (mainly self-initiated) projects.
			</h3>
		</div>
	</div>

	<div class="container">
		<div class="full-height__section full align-start">
			<h2 class="primary__item">Skills + Methodologies</h2>
			<ul class="secondary__item">
				<li>Angular 1.x + Angular 2, 4+</li>
				<li>HTML</li>
				<li>SASS + CSS</li>
				<li>TypeScript + JavaScript</li>
				<li>Adobe CC Suite</li>
				<li>Wordpress</li>
			</ul>
			<ul class="secondary__item">
				<li>Style guides</li>
				<li>UI design</li>
				<li>Prototyping</li>
				<li>User testing</li>
				<li>Web components</li>
				<li>Front-end architecture</li>
				<li>Style methodologies</li>
				<li>Cross browser compability</li>
				<li>Agile</li>
			</ul>
		</div>
	</div>
	
</article>