
	<div class="text_section">
		<h4 class="text_section__header">Crafted UI &amp; Digital Experiences</h4>
		<h3 class="text_section__content">
			Senior Front-end Developer at <a class="link underline" href="" target="_BLANK">Localstars Ltd.</a> Over 4 years experience in Web Design &amp; Development solutions working with Clients and Product Designers, for large and small businesses.
		</h3>

		<hr class="horizontal-rule">
		
		<div class="text_section__meta">
			<a target="_BLANK" href="https://www.linkedin.com/in/christopherswarbrick/" class="text_section__meta__item">
				<div class="icon linkedin"></div>
				<p>linkedin</p>
			</a>
			<a target="_BLANK" href="https://github.com/cswarb" class="text_section__meta__item">
				<div class="icon github"></div>
				<p>github</p>
			</a>
			<a target="_BLANK" href="https://dribbble.com/chris-swarbrick" class="text_section__meta__item">
				<div class="icon dribbble"></div>
				<p>dribbble</p>
			</a>
			<a target="_BLANK" href="https://www.instagram.com/the_submariner/" class="text_section__meta__item">
				<div class="icon instagram"></div>
				<p>insta</p>
			</a>
		</div>
	</div>


	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>


	<div class="full-height__section">
		<h2 class="primary__item">Skills Matrix</h2>
		<h2 class="secondary__item">Angular 1.x &amp; Angular 2+, HTML, SASS &amp; CSS, TypeScript &amp; JavaScript, Adobe CC Suite, Wordpress —</h2>
		<h2 class="secondary__item">Style Guides, UI Design, Prototyping, User Testing, Web Components, Front End Architecture, Style Methodologies, Cross Browser Testing —</h2>
		<!-- <ul>
			<li>Angular 1.x &amp; Angular 2+</li>
			<li>HTML</li>
			<li>SASS &amp; CSS</li>
			<li>TypeScript &amp; JavaScript</li>
			<li>Adobe CC Suite</li>
			<li>Wordpress</li>
			<li>Style Guides</li>
			<li>UI Design</li>
			<li>Prototyping</li>
			<li>User Testing</li>
			<li>Web Components</li>
			<li>Front End Architecture</li>
			<li>Style Methodologies</li>
			<li>Cross Browser Testing</li>
		</ul> -->
	</div>



