<div class="container container--space">
	<!-- <div class="charm"></div> -->
	<div class="row post-content__intro">
		<div class="col-lg-12">
			<p class="text_section__content--sub-content text_section__content--sub-content--post">
				<span>{{post?.name}}</span> — {{post?.meta?.year}}
			</p>
		</div>
		<div class="col-lg-12">
			<h3 class="text_section__content text_section__content--post">
				<span class="contrast-text">{{post?.title}}</span>
			</h3>
		</div>
		<!-- <p class="text_section__content--sub-content" [innerHTML]="post?.meta?.splashText"></p> -->
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<section class="list__content">
					<header>
						<h6 class="list__header">Details</h6>
					</header>
					<ul class="list__list">
						<li class="list__item">
							<p class="list__item__content">{{post?.meta?.role}}</p>
						</li>
					</ul>
				</section>
			</div>
			<div class="col-md">
				<section class="list__content">
					<header>
						<h6 class="list__header">Year</h6>
					</header>
					<ul class="list__list">
						<li class="list__item">
							<p class="list__item__content">{{post?.meta?.year}}</p>
						</li>
					</ul>
				</section>
			</div>
			<div class="col-md">
				<section class="list__content">
					<header>
						<h6 class="list__header">Technologies Used</h6>
					</header>
					<ul class="list__list">
						<li class="list__item" *ngFor="let technology of post?.meta?.technologies">
							<p class="list__item__content">{{technology?.name}}</p>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</div>

<div class="container--post">
	<article *ngIf="!isMobile()" class="flex-area article__inner--post-content">
		<div class="left-side left-side--blank">
			<div data-cmp-fixed-block class="post-content__fixed-block" [sectionData]="post?.sections" [defaultImageUrl]="post?.imageUrl"></div>
		</div>
		<div class="right-side">
			<section 
				*ngFor="let section of post?.sections; let i = index" 
				[id]="i === post.sections.length - 1 ? 'scroll-anchor-ref-end' : ''"
				[attr.data-image-trigger]="section?.imageUrl"
				class="post-content__wrapper" 
				id="scroll-anchor-ref">
				<h4 class="post-content__title">{{section?.title}}</h4>
				<p class="post-content__paragraph" *ngFor="let content of section?.content">{{content}}</p>
			</section>
		</div>
	</article>
	
	<article *ngIf="isMobile()" class="flex-area article__inner">
		<div class="right-side">
			<section *ngFor="let section of post?.sections" class="post-content__wrapper">
				<h4 class="post-content__title">{{section?.title}}</h4>
				<p class="post-content__paragraph">{{section?.content}}</p>
			</section>
		</div>
	</article>
</div>

<article *ngIf="post?.finalThoughts" class="article__inner post-content__final-wrapper">
	<div class="container container--cut">
		<div class="row post-content__final-wrapper__thoughts">
			<!-- <h5 class="post-content__final-wrapper__thoughts__title">Final Thoughts</h5> -->
			<div class="col-lg-12">
				<p class="post-content__final-wrapper__thoughts__content">{{post?.finalThoughts}}</p>
				<a *ngIf="post?.outbound?.alive" class="post-content__link" [class.post-content__link--inactive]="!post?.outbound?.alive" [href]="post?.outbound?.url"
					target="_BLANK">{{post?.outbound?.url}}</a>
			</div>
		</div>
	</div>
</article>

<div class="container container--cut">
	<div *ngIf="post?.images && !!(post?.images.length > 0)" class="row">
		<div class="col-lg-12">
			<figure class="post-content__image-meta" *ngFor="let image of post?.images">
				<picture data-lazy-load class="lazyimage">
					<source class="image" data-is-src-set="true" data-res="2" [attr.data-lazy-src]="image?.imageUrl2x" media="(min-width: 1200px)">
					<source class="image" data-is-src-set="true" data-res="1" [attr.data-lazy-src]="image?.imageUrl" media="(min-width: 600px)">
					<img class="image" [attr.data-lazy-src]="image?.imageUrl" [alt]="image?.title">
				</picture>
				<figcaption class="post-content__image__title">{{image?.title}}</figcaption>
			</figure>
		</div>
	</div>

	<div data-cmp-get-in-touch></div>
</div>