.post-content {
    &__wrapper {
        height: auto;
        margin-bottom: 15rem;
        min-height: 100vh;
    }
    &__title {
        flex: 3;
        letter-spacing: 1px;
        align-self: flex-end;
        display: inline-block;
        color: #35363a;
        font-family: "TF Opicular Bold";
        font-weight: 400;
        font-size: 1.5rem;
        margin: 0 0 2rem 0;
        line-height: 1.3;
    }
    &__type {
    	font-family: "GT";
	    position: relative;
	    margin: 0;
	    font-size: 1rem;
	    text-transform: uppercase;
	    letter-spacing: 0.8px;
	    z-index: -1;
	    color: #afafaf;
    	margin-bottom: 1rem;
    }
    &__paragraph {
        margin: 0 0 1rem 0;
        flex: 1;
        line-height: 1.5;
        font-size: 1.3rem;
    }
    &__link {
	    color: #31343F;
	    letter-spacing: 0.4px;
	    font-size: 1.2rem;
	}
	&__hero-title {
	    font-size: 3.1rem;
	    line-height: 1.25;
	    font-family: "TF Opicular Regular";
	    font-weight: 400;
	    letter-spacing: 0.8px;
	    margin: 0 0 3rem 0;
	    color: #35363a;       
	}
}