.scroll-anchor {
	&.resting {
		left: 0!important;
		position: relative!important;
		top: 0!important;
		width: auto!important;
	}
	&.fixed {
		position: fixed!important;
		top: 5vh!important;
	}
	&.end {
		left: 0!important;
		position: absolute!important;
	}
}