<div class="container">

	<div class="full-height__section full-height__section--row full align-start">
		<div style="flex: 7;margin-right: 5rem;">
			<p class="post-content__type"><span class="bold">{{post?.name}}</span> — {{post?.tag}}</p>
			<h5 class="title__item" style="font-family: TF Opicular,Calibre Regular,sans-serif;">{{post?.title}}</h5>
		</div>

		<section class="content__item">
			
		</section>
		<section class="content__item">
			
		</section>
	</div>

	<div class="full-height__section full-height__section--row full align-start">
		<h5 class="title__item">Details</h5>

		<section class="content__item">
			<header>
				<h6 class="full-height__section__header">Role</h6>
			</header>
			<p class="full-height__section__list">
				I created the front-end, UI design, experience, and complete development including api integration
			</p>
		</section>
		<section class="content__item">
			<header>
				<h6 class="full-height__section__header">Technologies Used</h6>
			</header>
			<ul class="full-height__section__list">
				<li>Angular 4</li>
				<li>HTML</li>
				<li>SASS</li>
				<li>Git + Github</li>
				<li>TFL Unified API</li>
			</ul>
		</section>
	</div>

	<!-- <div data-cmp-post-info [splashText]="post?.meta?.splashText" [year]="post?.meta?.year" [role]="post?.meta?.role" [technologies]="post?.meta?.technologies"></div> -->

	<article *ngIf="!isMobile()" class="flex article__inner">
		<div class="left-side blank">
			<div data-cmp-fixed-block [sectionData]="post?.sections" [defaultImageUrl]="post?.imageUrl"></div>
		</div>
		<div class="right-side">
			<section 
				*ngFor="let section of post?.sections; let i = index" 
				[id]="i === post.sections.length - 1 ? 'scroll-anchor-ref-end' : ''"
				[attr.data-image-trigger]="section?.imageUrl"
				class="post-content__wrapper" 
				id="scroll-anchor-ref">
				<h4 class="post-content__title">{{section?.title}}</h4>
				<p class="post-content__paragraph">{{section?.content}}</p>
			</section>
		</div>
	</article>


	<article *ngIf="isMobile()" class="flex article__inner">
		<div class="right-side">
			<section *ngFor="let section of post?.sections" class="post-content__wrapper">
				<h4 class="post-content__title">{{section?.title}}</h4>
				<p class="post-content__paragraph">{{section?.content}}</p>
			</section>
		</div>
	</article>

	<article data-cmp-parallax class="article__inner post-content__final-wrapper parallax-wrap">
		<div class="post-content__final-wrapper__thoughts">
			<h5 class="post-content__final-wrapper__thoughts--title">Final Thoughts</h5>
			<p class="color-light-blue">{{post?.finalThoughts}}</p>
		</div>
		<div class="post-content__final-wrapper__link">
			<a class="post-content__link" [class.post-content__link--inactive]="!post?.outbound?.alive" [href]="post?.outbound?.url" target="_BLANK">{{post?.outbound?.url}}</a>
		</div>
	</article>

	<!-- <hr class="post-content__separator"> -->

	<div class="flex article__inner no-margin-top">
		<div class="post-content__image-meta__wrapper">
			<figure class="post-content__image-meta" *ngFor="let image of post?.images">
				<!-- <div class="post-content__image-meta__item"> -->
					<img [src]="image?.imageUrl" [alt]="image?.title">
					<p class="post-content__image__title">{{image?.title}}</p>
				<!-- </div> -->
			</figure>
		</div>
	</div>

	<div data-cmp-get-in-touch></div>

</div>