<div class="container container--cut">
	<div class="full-height-section full-height-section--column full-height-section--align-top full-height-section--cut full-height-section--wide--cut">
		<p class="text_section__content--sub-content text_section__content--sub-content--post">
			<span class="highlight--yellow">{{post?.name}}</span> — {{post?.meta?.year}} — {{post?.tag}}
		</p>
		<h3 class="text_section__content text_section__content--post">
			<span class="contrast-text">{{post?.title}}</span>
		</h3>
		<p class="text_section__content--sub-content" [innerHTML]="post?.meta?.splashText"></p>
	</div>
</div>

<div class="container--post">
	<article class="article__inner--post-content">
		<div class="left-side left-side--blank">
			<div data-cmp-fixed-photo-block class="post-content__fixed-block--full-width" [sectionData]="post?.sections" [defaultImageUrl]="post?.imageUrl"></div>
		</div>
		<div class="right-side right-side--float">
			<section *ngFor="let section of post?.sections; let i = index" [id]="i === post.sections.length - 1 ? 'scroll-anchor-ref-end' : ''"
			 [attr.data-image-trigger]="section?.imageUrl" class="post-content__wrapper" id="scroll-anchor-ref">
				<h4 class="post-content__title"></h4>
				<p class="post-content__paragraph" *ngFor="let content of section?.content"></p>
			</section>
		</div>
	</article>
</div>

<article class="article__inner post-content__final-wrapper">
	<div class="container container--cut">
		<div class="post-content__final-wrapper__thoughts">
			<!-- <h5 class="post-content__final-wrapper__thoughts__title">Final Thoughts</h5> -->
			<p class="post-content__final-wrapper__thoughts__content">{{post?.finalThoughts}}</p>
			<a class="post-content__link" [class.post-content__link--inactive]="!post?.outbound?.alive" [href]="post?.outbound?.url"
			 target="_BLANK">{{post?.outbound?.url}}</a>
		</div>
	</div>
</article>

<div class="container container--cut">
	<div class="flex-area">
		<div class="flex">
			<figure class="post-content__image-meta" *ngFor="let image of post?.images">
				<picture data-lazy-load class="lazyimage">
					<source class="image" data-is-src-set="true" data-res="2" [attr.data-lazy-src]="image?.imageUrl2x" media="(min-width: 1200px)">
					<source class="image" data-is-src-set="true" data-res="1" [attr.data-lazy-src]="image?.imageUrl" media="(min-width: 600px)">
					<img class="image" [attr.data-lazy-src]="image?.imageUrl" [alt]="image?.title">
				</picture>
				<p class="post-content__image__title">{{image?.title}}</p>
			</figure>
		</div>
	</div>

	<div data-cmp-get-in-touch></div>
</div>