<!-- <div class="container container--cut">
	<div class="full-height-section full-height-section--column full-height-section--align-top full-height-section--cut full-height-section--wide--cut">
		<p class="text_section__content--sub-content text_section__content--sub-content--post">
			<span class="highlight--yellow">{{post?.name}}</span> — {{post?.meta?.year}} — {{post?.tag}}
		</p>
		<h3 class="text_section__content text_section__content--post">
			<span class="contrast-text">{{post?.title}}</span>
		</h3>
		<p class="text_section__content--sub-content" [innerHTML]="post?.meta?.splashText"></p>
	</div>
</div> -->

<div class="container container--cut">
	<div class="post-content__intro full-height-section full-height-section--column full-height-section--align-top full-height-section--cut full-height-section--wide--cut">
		<p class="text_section__content--sub-content text_section__content--sub-content--post">
			<span>{{post?.name}}</span> — {{post?.meta?.year}}
		</p>
		<h3 class="text_section__content text_section__content--post">
			<span class="contrast-text">{{post?.title}}</span>
		</h3>
		<!-- <p class="text_section__content--sub-content" [innerHTML]="post?.meta?.splashText"></p> -->
	</div>
</div>

<div class="container container--cut">
	<div class="photo-story" *ngFor="let image of post?.images">
		<figure class="photo-story__image">
			<picture data-lazy-load class="lazyimage">
				<!-- <source class="image" data-is-src-set="true" data-res="2" [attr.data-lazy-src]="image?.imageUrl2x" media="(min-width: 1200px)"> -->
				<source class="image" data-is-src-set="true" data-res="1" [attr.data-lazy-src]="image?.imageUrl" media="(min-width: 600px)">
				<img class="image" [attr.data-lazy-src]="image?.imageUrl" [alt]="image?.title">
			</picture>
			<figcaption class="photo-story__image-title">{{image?.title}}</figcaption>
		</figure>
		<p class="photo-story__content">{{image?.content}}</p>
	</div>

	<div data-cmp-get-in-touch></div>
</div>

<article class="article__inner post-content__final-wrapper">
	<div class="container container--cut">
		<div class="post-content__final-wrapper__thoughts">
			<!-- <h5 class="post-content__final-wrapper__thoughts__title">Final Thoughts</h5> -->
			<p class="post-content__final-wrapper__thoughts__content">{{post?.finalThoughts}}</p>
			<a class="post-content__link" [class.post-content__link--inactive]="!post?.outbound?.alive" [href]="post?.outbound?.url"
			 target="_BLANK">{{post?.outbound?.url}}</a>
		</div>
	</div>
</article>

<div class="container container--cut">
	<div data-cmp-get-in-touch></div>
</div>