<div class="selected_filter__container">
<p class="selected_filter__title">View — </p>
<ul class="selected_filter__select__options">
  <li class="selected_filter__select__option">
    <button type="button" (click)="filterPosts('everything')" class="selected_filter__select__option__text">Everything</button>
  </li>
  <li class="selected_filter__select__option">
    <button type="button" (click)="filterPosts('casestudies')" class="selected_filter__select__option__text">Case Studies</button>
  </li>
  <li class="selected_filter__select__option">
    <button type="button" (click)="filterPosts('blogposts')" class="selected_filter__select__option__text">Blog Posts</button>
  </li>
</ul>
</div>