<div class="selected_filter__container">
<p class="selected_filter__title">View — </p>
<ul class="selected_filter__select__options">
  <li class="selected_filter__select__option">
    <p data-value="everything" class="selected_filter__select__option__text">Everything</p>
  </li>
  <li class="selected_filter__select__option">
    <p data-value="casestudies" class="selected_filter__select__option__text">Case Studies</p>
  </li>
  <li class="selected_filter__select__option">
    <p data-value="blogposts" class="selected_filter__select__option__text">Blog Posts</p>
  </li>
</ul>
</div>