.parallax-block {
    border: 2px solid #bdc0c3;
    padding: 15rem 3rem 3rem 3rem;
    font-size: 2rem;
    color: #bdc0c3;
    text-align: right;
    margin: 5rem 10rem 10rem 10rem;
    font-family: "Univers";
    line-height: 1.4;
    @media (max-width: 55rem) {
        margin: $global-section-padding-mobile;
    }
}

.text_section {
    &__header {
        color: #9A9A9A;
        font-size: 1.25rem;
        margin: 0;
        font-family: "Calibre Light";
        letter-spacing: 0.6px;
        margin-bottom: 0.5rem;
    }
    &__content {
        margin: 0 auto 0 7rem;
        font-family: "Univers";
        font-weight: 400;
        color: #000;
        font-size: 3.45rem;
        line-height: 1.3;
        letter-spacing: -1.5px;
        z-index: 2;
        max-width: 75%;
        position: relative;
        &:after {
            content: "";
            width: 4rem;
            border-bottom: 2px solid black;
            display: block;
            position: absolute;
            /* position: relative; */
            margin: 0;
            bottom: 13%;
            left: -13%;
        }
        @media (max-width: 55rem) {
            margin: 0;
            font-size: 2.5rem;
            max-width: 100%;
            &.align-right {
                margin: 0;
            }
            &:after {
                position: relative;
                bottom: 0;
                left: 0;
                margin: 1rem 0 3rem 0;
            }
        }
        &--sub-content {
            max-width: 35rem;
            font-size: 1.5rem;
            color: #000;
            -ms-flex-item-align: end;
            align-self: flex-end;
            font-family: Univers Light;
            letter-spacing: .15px;
            line-height: 1.6;
            color: #a5a5a5;
            font-weight: 400;
            margin: 1.4rem auto 0 7rem;
            @media (max-width: 55rem) {
                margin: 0;
                align-self: flex-start;
            }
        }
        &--small {
            font-size: 2rem;
            max-width: 100%;
        }
        @media (max-width: 55rem) {
            margin: 0;
        }
    }
    &__meta {
        margin:0;
        text-transform: uppercase;
        color: #9A9A9A;
        font-family: $primary-font-stack;
        margin-top:2rem;
        display: flex;
        &__item {
            margin: 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0 1rem;
            text-decoration: none;
            border-bottom: 1px solid #e8e8e8;
            &:hover {
                border-color: #909396;
            }
            &:first-child {
                margin-left: 0;
            }
            p {
                margin: 0;
                color: #b7b9bb;
                vertical-align: middle;
                align-self: center;
                line-height: 1;
                padding-top: 2px;
                text-transform: lowercase;
            }
        }
    }
}