.parallax-block {
    border: 2px solid #bdc0c3;
    color: #bdc0c3;
    font-family: "Univers";
    font-size: 2rem;
    line-height: 1.4;
    margin: 5rem 10rem 10rem 10rem;
    padding: 15rem 3rem 3rem 3rem;
    text-align: right;
    @media (max-width: 55rem) {
        margin: $global-section-padding-mobile;
    }
}

.text_section {
    &__header {
        color: #9A9A9A;
        font-family: "Calibre Light";
        font-size: 1.25rem;
        letter-spacing: 0.6px;
        margin-bottom: 0.5rem;
        margin: 0;
    }
    &__content {
        // max-width: 55%;
        color: #000;
        // font-family: "Helvetica Neue Medium";
        font-family: "GMW";
        font-size: 3.1rem;
        font-weight: 400;
        letter-spacing: -0.6px;
        line-height: 1.4;
        margin: 0;
        max-width: 90%;
        position: relative;
        z-index: 2;
        &--post {
            // font-family: "Neue Haas Unica";
            font-family: "GMW";
            font-size: 4rem;
            line-height: 1.15;
            max-width: 75%;
        }
        // &:after {
        //     content: "";
        //     width: 4rem;
        //     border-bottom: 2px solid black;
        //     display: block;
        //     position: absolute;
        //     margin: 0;
        //     bottom: 10%;
        //     left: -13%;
        // }
        @media (max-width: 55rem) {
            font-size: 2.5rem;
            line-height: 1.2;
            margin: 0;
            max-width: 100%;
            &.align-right {
                margin: 0;
            }
            &:after {
                bottom: 0;
                left: 0;
                margin: 1rem 0 3rem 0;
                position: relative;
            }
        }
        &--sub-content {
            // -ms-flex-item-align: end;
            // font-family: "Helvetica Neue";
            // align-self: flex-end;
            color: #dbdbdc;
            display: inline-block;
            font-family: "Neue Haas Unica";
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 0.35px;
            line-height: 1.75;
            margin: 3rem auto 0.3rem 0;
            max-width: 45rem;
            @media (max-width: 55rem) {
                // align-self: flex-start;
                margin: 2rem 0 0 0;
            }
            &--post {
                color: #7e8188;
                // font-family: "UUC";
                // font-family: "Helvetica Neue";
                font-family: "GMW";
                // font-family: "GMWR";
                font-size: 0.8rem;
                letter-spacing: 1.1px;
                line-height: 1.5;
                margin: 0 auto 1rem 0;
                text-transform: uppercase;
                // background-color: #104fff;
                // background-color: #fff710;
                // background-color: $mid-grey;
                // color: #ffffff;
                color: #b0b5ba;
                padding: 0rem 0.4rem;
                // transform: rotate(270deg);
                // left: -8rem;
                // bottom: 15rem;
                // max-width: 25rem;
                // position: absolute;
                // background-image: linear-gradient(to left, #ff0844 0%, #ffb199 100%);
                background-size: 200%;
                animation: animateGradient 5s infinite both;
            }
        }
        &--small {
            font-size: 2rem;
            max-width: 100%;
        }
        @media (max-width: 55rem) {
            margin: 0;
        }
    }
    &__meta {
        color: #9A9A9A;
        display: flex;
        font-family: $primary-font-stack;
        margin-top:2rem;
        margin:0;
        text-transform: uppercase;
        &__item {
            align-items: flex-start;
            border-bottom: 1px solid #e8e8e8;
            display: flex;
            justify-content: flex-start;
            margin: 0 1rem;
            margin: 0;
            text-decoration: none;
            &:hover {
                border-color: #909396;
            }
            &:first-child {
                margin-left: 0;
            }
            p {
                align-self: center;
                color: #b7b9bb;
                line-height: 1;
                margin: 0;
                padding-top: 2px;
                text-transform: lowercase;
                vertical-align: middle;
            }
        }
    }
}