*, *:before, *:after {
	box-sizing: border-box;
}

::selection {
	background-color: rgb(255, 238, 0);
	color: #000;
}

body, noscript {
	font-family: $primary-font-stack;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	position: relative;
}

img {
  max-width: 100%;
}

noscript {
	display: block;
	font-family: "Univers";
	font-size: 1.25rem;
	letter-spacing: 0.8px;
	line-height: 1.2;
	margin: 4rem;
	position: relative;
}