/* You can add global styles to this file, and also import other style files */
#mfPreviewBar {
	display: none;
}

@font-face {
  font-family: "Interface";
  src: url("./assets/fonts/interface/Interface-Regular.woff") format("woff");
}

@font-face {
  font-family: "Interface Bold";
  src: url("./assets/fonts/interface/Interface-Bold.woff") format("woff");
}

@font-face {
  font-family: "Calibre Regular";
  src: url("./assets/fonts/Calibre/Calibre-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Calibre Light";
  src: url("./assets/fonts/Calibre/Calibre-Light.otf") format("opentype");
}

@font-face {
  font-family: "Univers";
  src: url("./assets/fonts/Univers/univers.ttf") format("truetype");
}

@font-face {
  font-family: "Univers Light";
  src: url("./assets/fonts/Univers/univers-light.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/Avenir/Avenir-Book.ttf") format("truetype");
}

@font-face {
  font-family: "ITC";
  src: url("./assets/fonts/itc/ITCAvantGardePro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "HHS";
  src: url("./assets/fonts/haveheartswash/have_heart_swash-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "HHO";
  src: url("./assets/fonts/haveheartone/have_heart_one-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "GT";
  src: url("./assets/fonts/gtamerica/GT-America-Mono-Regular-v1.otf") format("opentype");
}

@font-face {
  font-family: "GT Regular";
  src: url("./assets/fonts/gtamerica/GT-America-Regular.woff") format("woff");
}

*, *:before, *:after {
	box-sizing: border-box;
}

::selection {
	background-color: #95C4F2;
	color: #000;
}

body {
	margin: 0;
	padding: 0;
	font-family: $primary-font-stack;
	position: relative;
	overflow-x: hidden;
}

img {
    max-width: 100%;
}

noscript {
    font-family: $primary-font-stack;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0.8px;
}