/* You can add global styles to this file, and also import other style files */
#mfPreviewBar {
	display: none;
}

@font-face {
  font-family: "Interface";
  src: url("./assets/fonts/interface/Interface-Regular.woff") format("woff");
}

@font-face {
  font-family: "Calibre Regular";
  src: url("./assets/fonts/Calibre/Calibre-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Calibre Light";
  src: url("./assets/fonts/Calibre/Calibre-Light.otf") format("opentype");
}

@font-face {
  font-family: "Univers";
  src: url("./assets/fonts/Univers/univers.ttf") format("truetype");
}

@font-face {
  font-family: "Univers Light";
  src: url("./assets/fonts/Univers/univers-light.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/Avenir/Avenir-Book.ttf") format("truetype");
}

@font-face {
  font-family: "ITC";
  src: url("./assets/fonts/itc/ITCAvantGardePro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "HHS";
  src: url("./assets/fonts/haveheartswash/have_heart_swash-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "HHO";
  src: url("./assets/fonts/haveheartone/have_heart_one-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "GT";
  src: url("./assets/fonts/./gtamerica/GT-America-Mono-Regular-v1.otf") format("opentype");
}

*, *:before, *:after {
	box-sizing: border-box;
}

::selection {
	background-color: #0000ff;
	color: #fff;
}


a:focus, button:focus {
    outline: 2.5px solid orange;
}

.section__link:hover {
    color: #888B8F;
}


body {
	margin: 0;
	padding: 0;
	font-family: "Calibre Regular";
	position: relative;
	overflow-x: hidden;
}

.wrapper {
    padding: 0 9.25rem 3rem 9.25rem;
    position: relative;
    background: #fff;
    z-index: 1;
    min-height: 50rem;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    margin-bottom: 100vh;
}

































































// .circle-cutout:before {
//         content: "";
//     width: 50rem;
//     height: 50rem;
//     background-color: #fff;
//     position: absolute;
//     top: 15rem;
//     right: 30rem;
//     display: block;
//     border-radius: 50%;
//     z-index: 2;

// }

// .circle-colour:before {
//         content: "";
//     width: 70rem;
//     height: 70rem;
//     background-color: #3DE170;
//     position: absolute;
//     top: -15rem;
//     right: -17rem;
//     display: block;
//     border-radius: 50%;
//     z-index: 1;

// }

// .circle-offset:before {
//         content: "";
//     width: 20rem;
//     height: 20rem;
//     background-color: #FAFAFA;
//     position: absolute;
//     top: 15.5rem;
//     left: 1rem;
//     display: block;
//     border-radius: 50%;
//     z-index: 3;
// }



.post .post__main_img {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.post .post__main_img img {
        max-width: 100%;
}




.flex.article {
    margin-top: 16rem;
}
.flex .section__title {
        margin: 0;
    font-size: 3.1rem;
    line-height: 1.25;
    font-family: "Calibre Light";
    letter-spacing: 0.8px;
    margin-bottom: 2rem;
    flex: 3;
    align-self: flex-end;
    display: inline-block;
    color: #35363a;
}

/*.section__title:before {
        content: "";
    position: absolute;
    background-color: rgba(57, 255, 164, 0.53);
    width: 50%;
    height: 1.5rem;
    z-index: -1;
    left: -1rem;
    bottom: 0;

}*/

.flex .section__puller {
    margin: 0 0 0 4rem;
    flex :1;
    line-height: 1.5;
font-size: 1.3rem;
}

.section__link {
        margin-top: 2.5rem!important;
    font-size: 1.2rem!important;
    color: #ccc;
    font-family: "Calibre";
    display: inline-block;
    letter-spacing: 0.4px;
    transition: color 0.2s ease-in-out;
    
}







.in_page_nav {

}

.in_page_nav__wrapper {
list-style: none;
font-family: "Calibre Medium"
}

.in_page_nav__item {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.in_page_nav__item__number {
    margin: 0;
    color: #b9b9b9;
    display: inline-block;
    font-size: 1.5rem;
}
.in_page_nav__item__link {
    margin: 0;
text-decoration: none;
color: #000;
display: inline-block;
border-bottom: 2px solid #d7dde2;
padding-bottom: 0;
    font-weight: 400;
    font-family: Calibre Regular;
}








.article {
    margin: 10rem 2rem;
}
.article.slim {
    margin: 10rem 18rem;
}
.article__title {
    font-size: 5.1rem;
    margin: 0;
        font-weight: 400;
    font-family: "Calibre Regular";
}

.article__content {
    font-size: 1.55rem;
}

.article__content p {
    margin: 2.5rem 0;
        line-height: 1.55;
            font-weight: 400;
    font-family: "Calibre Regular";
}





.meta__text {
    color: #A2A4A7;
    font-family: "Calibre Medium";
    font-size: 1.1rem;
    letter-spacing: 0.1px;
    margin: 0;
}










.post {
    width: 100%;
    margin: 5rem 0 25rem 0;
}

.post h3 {
    margin: 0;
        font-size: 3.1rem;
        line-height: 1.25;
        font-family: "Calibre Light";
        letter-spacing: 0.8px;
        margin-bottom: 2rem;
        flex: 3;
            align-self: flex-end;
            display: inline-block;
        color: #35363a;
}

.post .post__main_img {
    width: 100%;
    max-width: 100%;
    margin: 0;
        text-align: right;
}

.post .post__main_img__area {
    background: url("https://images.unsplash.com/photo-1495521939206-a217db9df264?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 90vh;
    max-height: 90vh;
}












.hero {
    margin: 25rem 7rem 1rem 7rem;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
}


.hero .hero__title {
width: 100%;
top: 0;
position: relative;
line-height: 1;
margin: 0 0 3rem 0;
}

.hero .hero__title svg {
        margin: 0 auto;
    width: 100%;
    position: relative;
    top: 0;
    left:-2rem;
}

.hero .hero__title svg path {
        fill: none;
    width: 100%;
}

.hero .hero__title text {
    font-size: 4rem;
}

.hero .hero__supporting_text {
        margin: 0;
    font-size: 1.35rem;
    line-height: 1.6;
    color: #9da0a7;
    letter-spacing: 0.2px;
    width: 70%;
    font-weight: 400;
    font-family: "Calibre Regular";
}















































.link {
    color: #35363a;
    text-decoration: none;
    position: relative;
}

.link.underline:hover:before {
    border-color: #909396;
}





.hero {
    margin: 25rem 7rem 1rem 7rem;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
}


.hero .hero__title {
width: 100%;
top: 0;
position: relative;
line-height: 1;
margin: 0 0 3rem 0;
}

.hero .hero__title svg {
        margin: 0 auto;
    width: 100%;
    position: relative;
    top: 0;
    left:-2rem;
}

.hero .hero__title svg path {
        fill: none;
    width: 100%;
}

.hero .hero__title text {
    font-size: 4rem;
}

.hero .hero__supporting_text {
        margin: 0;
    color: #b9b9b9;
    font-weight: 400;
    width: 50%;
    font-size: 1.2rem;
    line-height: 2;
    margin: 0;
    color: #b9b9b9;
    font-weight: 400;
    width: 40%;
    font-family: "Univers";
}


.button {
        color: #ACAEB1;
    padding: 1.1rem 0.4rem 0.9rem 0.4rem;
    border-radius: 50px;
    display: block;
    width: auto;
    min-width: 11.1rem;
    text-decoration: none;
    line-height: 1;
    font-size: 1.15rem;
    letter-spacing: 1px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.button.button--outline {
    border: 2px solid #ACAEB1;
}

.button:hover {
    border-color: #888B8F;
    color: #888B8F;
}







.view_selection {
    display: block;
    width: 100%;
        text-align: right;
}
.view_selection__item {
    display: inline-block;
        transform: scale(0.7);
}
.view_selection__item svg polygon, .view_selection__item svg path {
    transition: all 0.3s ease-in-out;
}
.view_selection__item:hover svg polygon, .view_selection__item:hover svg path {
    fill: #C5CAD6;
}
.view_selection__item:hover {
    cursor: pointer;
}
.view_selection__item:last-child {
    margin-left: 0.5rem;
}
.view_selection__item--active svg polygon, .view_selection__item--active svg path {
    fill: #000;
}







.text_section {
    max-width: 45rem;
}

.text_section__header {
        color: #9A9A9A;
    font-size: 1.25rem;
    margin: 0;
    font-family: "Calibre Light";
    letter-spacing: 0.6px;
        margin-bottom: 0.5rem;
}

.text_section__content {
        margin: 0;
    font-size: 2.8rem; /*2.8rem*/
    line-height: 1.35;
    font-family: "Calibre Regular";
    font-weight: 400;
    letter-spacing: 0.8px;
    margin-bottom: 2rem;
    color:#35363a;

}





.text_section__meta {
margin:0;
text-transform: uppercase;
color: #9A9A9A;
font-family: "Calibre Regular";
margin-top:2rem;
    display: flex;
}

.text_section__meta__item {
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 1rem;
    text-decoration: none;
        border-bottom: 1px solid #e8e8e8;
            // font-family: "Native";
}
.text_section__meta__item:hover {
    border-color: #909396;
}
.text_section__meta__item:first-child {
    margin-left: 0;
}
.text_section__meta__item p {
    margin: 0;
        color: #b7b9bb;

    vertical-align: middle;
    align-self: center;
    line-height: 1;
    /*font-family: "Calibre Semi Bold";*/
        padding-top: 2px;
        text-transform: lowercase;
}









.primary__item {
    letter-spacing: 0.7px;
    margin: 10.7rem 0;
    font-weight: 400;
    flex: 5;
        font-size: 2.3rem;
    line-height: 1.35;
    font-family: "Calibre Regular";
    letter-spacing: 0.8px;
    color: #35363a;
}


.secondary__item {
           font-size: 1.4rem;
    width: 53%;
    line-height: 1.75;
    font-family: "Calibre Light";
    letter-spacing: 0.8px;
    color: #35363a;
    text-align: left;
    margin: 107rem 5rem 0 5rem;
        flex: 3;
    
}


.full-height__section {
        height: 45rem;
        min-height: 110vh;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.full-height__section .secondary__item {
    letter-spacing: 2.2px;
    margin: 10rem 3rem;
    font-size: 1.3rem;
    letter-spacing: 1.05px;
        line-height: 2.4;
    color: #9d9fa5;
}
