.selected_filter {
    &__container {
        background: #fff;
        position: relative;
        z-index: 2;
        padding: 0 0 0 2rem;
        overflow: hidden;
    }
    &__title {
        font-size: 1.5rem;
        display: inline-block;
        margin: 0;
    }
    &__select {
        &__options {
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        &__option {
            padding: 1rem 0.8rem;
            transition: all 0.3s ease-in-out;
            display: inline-block;
            &:hover > .selected_filter__select__option__text {
                cursor: pointer;
                color: #000;
            }
            &:focus {
                border: 1px solid orange;
            }
            &__text {
                color:#989898;
                font-size: 1.5rem;
                line-height: 2.5;
                margin: 0;
                background: none;
                border: 0;
            }
        }
    }
}