@font-face {
  font-family: "Neue Haas Unica";
  src: url("./assets/fonts/neuehaasunica/neue-haas-unica-pro-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Calibre Regular";
  src: url("./assets/fonts/Calibre/Calibre-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Calibre Light";
  src: url("./assets/fonts/Calibre/Calibre-Light.otf") format("opentype");
}

@font-face {
  font-family: "Univers";
  src: url("./assets/fonts/Univers/univers.ttf") format("truetype");
}

@font-face {
  font-family: "Univers Light";
  src: url("./assets/fonts/Univers/univers-light.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/Avenir/Avenir-Book.ttf") format("truetype");
}

@font-face {
  font-family: "ITC";
  src: url("./assets/fonts/itc/ITCAvantGardePro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "GT";
  src: url("./assets/fonts/gtamerica/GT-America-Mono-Regular-v1.otf") format("opentype");
}

@font-face {
  font-family: "GT Regular";
  src: url("./assets/fonts/gtamerica/GT-America-Regular.woff") format("woff");
}

@font-face {
  font-family: "TF Opicular Bold";
  src: url("./assets/fonts/opicular/TTF/TF Opicular Bold.ttf") format("truetype");
}

@font-face {
  font-family: "TF Opicular Medium";
  src: url("./assets/fonts/opicular/TTF/TF Opicular Medium.ttf") format("truetype");
}

@font-face {
  font-family: "TF Opicular";
  src: url("./assets/fonts/opicular/TTF/TF Opicular Regular.ttf") format("truetype");
}