.strikethrough {
	text-decoration: line-through;
	display: inline;
}

.splitter {
	border-bottom: 1px solid #e9ebef;
    width: 100%;
    position: absolute;
}

.horizontal-rule {
    background-color: transparent;
    color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.no-margin-top {
    margin-top: 0!important;
}

.no-margin-bottom {
    margin-bottom: 0!important;
}

.no-padding-bottom {
	padding-bottom: 0!important;
}

.align-vertical-center {
    align-self: center;
}

.contrast-text {
    color: #000;
    display: inline;
}

.underline {
    display: inline-block;
    &:before {
        content: "";
        width: 100%;
        display: block;
        border: solid 1px #D5D5D5;
        position: absolute;
        bottom: 0.5rem;
        left: 0;
    }
}

.active {
    border-bottom: 2px solid black;
}

.contrast-block {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 0 1rem;
    text-decoration: none;
}

.link {
    color: #35363a;
    text-decoration: none;
    position: relative;
}

.link.underline:hover:before {
    border-color: #909396;
}

.center {
    text-align: center;
}