.icon {
    display: inline-block;
    height: 1.5rem;
    position: relative;
    width: 1.5rem;
    &.maximize {
        background: url("./assets/img/maximize.svg");
        background-size: 1.5rem;
        background-repeat: no-repeat;
        background-position: top left;
    }
    &.instagram {
        background: url("./assets/img/insta.svg");
        background-size: 1.5rem;
        background-repeat: no-repeat;
        background-position: top left;
    }
    &.linkedin {
        background: url("./assets/img/linkedin.svg");
        background-size: 1.5rem;
        background-repeat: no-repeat;
        background-position: top left;
    }
    &.dribbble {
        background: url("./assets/img/dribbble.svg");
        background-size: 1.5rem;
        background-repeat: no-repeat;
        background-position: top left;
    }
    &.github {
        background: url("./assets/img/github.svg");
        background-size: 1.5rem;
        background-repeat: no-repeat;
        background-position: top left;
    }
}