.jumbo-text {
    color: #000;
    font-family: $primary-font-stack;
    font-size: 2.3rem;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 1.25;
    padding: 0;
    // margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 55rem;
    position: relative;
    margin: 0 auto;
    &:not(.jumbo-text--inactive):hover {
        .jumbo-text__title, .jumbo-text__content {
            text-decoration: underline;
        }
    }
    &:first-of-type {
        padding-top: 0;
    }
    @media (max-width: 55rem) {
        margin: 0;
    }
    &__header {
        color: $white;
        font-family: "Helvetica Neue Light";
        font-size: 0.9rem;
        letter-spacing: 1.1px;
        margin: 0 0 0.5rem 0;
    }
    &__title {
        color: #737f86;
        // font-family: "Helvetica Neue Medium";
        font-family: "GMW";
        font-size: 1.5rem;
        font-weight: 100;
        letter-spacing: -0.5px;
        margin: 0 0 0.5rem 0;
        transition: color 0.3s ease-in-out;
        &__container {
            // flex: 2;
            // display: flex;
            // flex-flow: column nowrap;
            // justify-content: flex-start;
            // align-items: baseline;
        }
    }
    &__content {
        // flex: 6;
        font-family: "GMW";
        font-size: 2rem;
        letter-spacing: -0.8px;
        line-height: 1.25;
        margin: 0;
        @media (max-width: 55rem) {
            font-size: 1.8rem;
            max-width: 100%;
        }
    }
    &__link {
        color: $black;
        // display: flex;
        // flex-flow: row nowrap;
        position: relative;
        text-decoration: none;
        transition: opacity 0.2s ease-in-out;
        // width: 100%;
        border-bottom: 1px solid #3b3c3e;
        padding: 5.5rem 0;
        &:hover {
            .jumbo-text__title { //Overwrite the dark wrapper
                color: white;
            }
        }
        @media (max-width: 55rem) {
            // flex-flow: column nowrap;
        }
    }
    &--inactive {
        opacity: 0.6;
        // pointer-events: none;
        > .jumbo-text__link {
            color: $white;
            &:hover {
                cursor: not-allowed;
            }
        }
        .jumbo-text__title {
            &:after {
                color: $white;
                content: "Coming Soon";
                display: block;
                font-family: "Helvetica Neue Light";
                font-size: 0.6rem;
                font-weight: 700;
                letter-spacing: 1.5px;
                margin: 0.5rem 0 0 0;
                padding: 0.2rem 0.3rem;
                text-transform: uppercase;
                @media (max-width: 55rem) {
                    display: none;
                }
            }
            &:before {
                color: $white;
                content: "Coming Soon";
                display: none;
                font-family: "Helvetica Neue Light";
                font-size: 0.6rem;
                font-weight: 700;
                letter-spacing: 1.5px;
                margin: 0;
                padding: 0.2rem 0.3rem;
                text-transform: uppercase;
                @media (max-width: 55rem) {
                    display: block;
                    margin-bottom: 0;
                    position: relative;
                    text-align: left;
                    top: 0;
                    width: 100%;
                }
            }
        }
    }
}