.jumbo_text {
    margin: 0;
    font-family: $primary-font-stack;
    font-weight: 400;
    max-width: 80%;
    color: #31343F;
    max-width: 70rem;
    line-height: 1.25;
    font-size: 2.3rem;
    letter-spacing: 0.8px;
    margin: 20rem 0;
    position: relative;
    color: #000;
    @media (max-width: 55rem) {
        margin: 10rem 0;
    }
    a {
        display: block;
        color: #000;
        text-decoration: none;
        position: relative;
        // &:before {
        //     content: "";
        //     background: url("./assets/img/2.jpg");
        //     background-size: cover;
        //     background-position: center;
        //     width: 30rem;
        //     height: 30rem;
        //     position: absolute;
        //     right: 0;
        //     top: 0;
        //     z-index: -1;
        // }
        &:hover {
            .contrast-text {
                color: #e8d91c;
            }
        }
        h2 {
            margin: 0 0 1rem 0;
            font-size: 1.6rem;
            letter-spacing: -0.5px;
            font-weight: 100;
            text-decoration: underline;
        }
        p {
            margin: 0;
            font-size: 3rem;
            line-height: 1.2;
            letter-spacing: -0.8px;
            color: #000;
            max-width: 90%;
            .contrast-text {
                transition: color 0.2s ease-in-out;
            }
            @media (max-width: 55rem) {
                font-size: 2rem;
                max-width: 100%;
            }
        }
    }
    &--inactive {
        opacity: 0.5;
        pointer-events: none;
        @media (max-width: 55rem) {
            > a {
                text-decoration: line-through;
                color: #fff;
            }
        }
        &:hover {
            cursor: not-allowed;
        }
        &:before {
            content: "Coming Soon";
            position: absolute;
            top: 5rem;
            transform: rotate(270deg);
            right: 0;
            font-size: 0.8rem;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-weight: 700;
            @media (max-width: 55rem) {
                position: relative;
                top: 0;
                transform: rotate(0);
                text-align: right;
                display: block;
                width: 100%;
                margin-bottom: 0.5rem;
            }
        }
    }
}





.loading {
    align-items: center;
    background-color: #000;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%;
    font-family: $bold-font-stack;
    z-index: 10;
    text-transform: uppercase;
    &__content {
        color: #fff;
        display: block;
        font-size: 1rem;
        font-size: 0.9rem;
        letter-spacing: 0.5px;
    }
}