@keyframes slideInUp {
	0% {
		top: 125%;
	}
	100% {
		top: 50%;
	}
}

@keyframes upDown {
	0% {
		transform: translateY(-25%);
	}
	50% {
		transform: translateY(25%);
	}
	100% {
		transform: translateY(-25%);
	}
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInCross {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutCross {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animateGradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


@keyframes blob {
    0% {
        transform: translate(5rem, 10rem);
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        width: 60rem;
        height: 60rem;
    }
    25% {
        transform: translate(8rem, 10rem);
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        width: 56rem;
        height: 54rem;
    }
    50% {
        transform: translate(10rem, 10rem);
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        width: 60rem;
        height: 53rem;
    }
    75% {
        transform: translate(9rem, 10rem);
        border-radius: 60% 30% 30% 60% / 60% 40% 60% 40%;
        width: 54rem;
        height: 54rem;
    }
    100% {
        transform: translate(5rem, 10rem);
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        width: 60rem;
        height: 60rem;
    }
}