@keyframes blockRevealRight {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    70% {/*Overlap by ~20% to prevent Chrome bug*/
        opacity: 1;
    }
    70.1% {
    	opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blockRevealLeft {
    0% {
        opacity: 0;
    }
    49.9% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    99.9% {
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes blendColour {
    0% {
        color: #0000ff;
    }
    25% {
        color: #1AF98A;
    }
    50% {
        color: #ffec0b
    }
    75% {
        color: #ff0b43;
    }
    100% {
        color: #00f3ff;
    }
}

@keyframes pulse {
    0% {
        opacity:1;
    }
    50% {
        opacity: 0.5;
    }
    90% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}