.loading {
    align-items: center;
    background-color: #000;
    display: flex;
    flex-flow: column nowrap;
    font-family: $bold-font-stack;
    height: 100vh;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    z-index: 10;
    &__content {
        color: #fff;
        display: block;
        font-size: 0.9rem;
        font-size: 1rem;
        letter-spacing: 0.5px;
    }
    .no-js & {
        display: none;
    }
}