.nav {
    align-items: flex-start;
    display: flex;
    font-family: "Neue Haas Unica";
    justify-content: space-between;
    margin: 0 0 5rem 0;
    padding-top: 2rem;
    position: relative;
    @media (max-width: 55rem) {
        margin: 0 0 4rem 0;
    }
    &__title {
        color: #3b3e44;
        display: inline-block;
        font-size: 0.95rem;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 1;
        margin: 0 0 0.1rem 0;
        overflow: hidden;
        position: relative;
        @media (max-width: 55rem) {
            font-size: 1rem;
        }
    }
    &__sub-title {
        color: #9e9e9e;
        font-size: 0.95rem;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 1;
        margin: 0;
        @media (max-width: 55rem) {
            font-size: 1rem;
        }
    }
    &__link {
        text-decoration: none;
    }
    &__list {
        &_container {
            display: flex;
            list-style: none;
            margin: 0;
        }
        &_item {
            display: inline-block;
            font-size: 0.95rem;
            position: relative;
            &:last-child {
                margin-left: 4rem;
                @media (max-width: 55rem) {
                    margin-left: 0;
                }
            }
            &__link {
                color: #3b3e44;
                font-family: "Univers";
                text-decoration: none;
                transition: color 0.3s ease-in-out;
                &:hover {
                    border-bottom: 2px solid black;
                }
            }
            @media (max-width: 55rem) {
                font-size: 1rem;
            }
        }
    }
}