.nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5.7rem;
    font-family: $primary-font-stack; //'Neue Haas Unica Pro';
    margin: 0 0 5rem 0; //margin: 0 7rem 23rem 7rem;
    padding-top: 2rem;
    @media (max-width: 55rem) {
        margin: 0 0 4rem 0;
    }
    &__title {
        margin: 0;
        font-size: 1.2rem;
        position: relative;
        letter-spacing: 0.2px;
        font-weight: 400;
        color: #3b3e44;
        overflow: hidden;
        display: inline-block;
        @media (max-width: 55rem) {
            font-size: 1rem;
        }
    }
    &__sub-title {
        margin: 0;
        color: #9ea4ab;
        font-size: 1.2rem;
        letter-spacing: 0.2px;
        font-weight: 400;
        @media (max-width: 55rem) {
            font-size: 1rem;
        }
    }
    &__link {
        text-decoration: none;
        position: relative;
        display: block;
        &:before {
            content: "";
            // background: url("./assets/img/logo.svg");
            opacity: 0.2;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            display: inline-block;
            position: absolute;
            top: -3px;
            /* -webkit-transform: translateY(-48%); */
            /* transform: translateY(-48%); */
            left: -45%;
        }
    }
    &__list {
        &_container {
            list-style: none;
            display: flex;
            margin: 0;
        }
        &_item {
            display: inline-block;
            font-size: 1.2rem;
            position: relative;
            &:last-child {
                margin-left: 4rem;
                @media (max-width: 55rem) {
                    margin-left: 0;
                }
            }
            &__link {
                color: #3b3e44;
                text-decoration: none;
                transition: color 0.3s ease-in-out;
                &:hover {
                    border-bottom: 2px solid black;
                }
            }
            @media (max-width: 55rem) {
                font-size: 1rem;
            }
        }
    }
}