.pill {
    animation: animateGradient 5s infinite both;
    background-color: #ff0844;
    background-color: #1faf7a;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background-image: -webkit-gradient(linear, right top, left top, from(#ff0844), to(#ffb199));
    // background-image: linear-gradient(to left, #ff0844 30%, #ffb199 100%);
    background-size: 200%;
    border-radius: 25px;
    color: white;
    display: inline-block;
    font-family: "Helvetica Neue";
    font-size: 0.6rem;
    font-weight: 700;
    line-height: 1;
    min-width: 3rem;
    padding: 0.3rem 0.8rem;
    text-align: center;
    text-transform: lowercase;
}