.triple-block {
    &__title {
        color: #35363a;
        flex: 5;
        font-family: "Helvetica Neue Medium";
        font-size: 2.3rem;
        font-weight: 400;
        letter-spacing: 0.8px;
        line-height: 1.35;
        margin: 0;
        @media (max-width: 55rem) {
            margin-bottom: 1rem;
        }
    }
    &__description {
        color: #9d9fa5;
        font-family: "Helvetica Neue Light";
        font-size: 1.1rem;
        letter-spacing: 1.05px;
        line-height: 2;
    }
    &__item {
        // font-family: "Calibre Light";
        color: #9d9fa5;
        flex: 3;
        font-size: 1.3rem;
        letter-spacing: 1.05px;
        line-height: 2.4;
        list-style: none;
        margin: 0 3rem;
        margin: 1.1rem 3rem 0 0;
        text-align: left;
        @media (max-width: 55rem) {
            margin: 5rem 0;
        }
    }
    &__content {
        color: #9d9fa5;
        flex: 3;
        font-size: 1.3rem;
        letter-spacing: 1.05px;
        line-height: 2.4;
        list-style: none;
        margin: 0 3rem;
        margin: 1.1rem 3rem 0 0;
        text-align: left;
        @media (max-width: 55rem) {
            &:not(:first-of-type) {
                margin-top: 4rem;
            }
        }
        &--prime {
            flex: 10;
        }
    }
    &__header {
        color: #000;
        font-family: "Helvetica Neue Medium";
        font-size: 0.8rem;
        letter-spacing: 1.5px;
        line-height: 1.2;
        margin: 0 0 1.5rem 0;
        text-transform: uppercase;
        @media (max-width: 55rem) {
            margin: 0 0 0.5rem 0;
        }
        &--nested {
            margin: 3rem 0 1.5rem 0;
        }
    }
    &__list {
        // font-family: "Calibre Light";
        // font-family: "Helvetica Neue";
        font-family: "Helvetica Neue Light";
        font-size: 1.1rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

// .charm {
//     animation: 5s slideInUp ease-in-out both 1s;
//     background-image: url("/assets/img/tube.svg");
//     width: 10rem;
//     height: 3rem;
//     background-size: 100%;
//     background-repeat: no-repeat;
//     background-position: center;
//     position: fixed;
//     transform: rotate(90deg) translateZ(0);
//     left: -4rem;
//     top: 50%;
//     z-index: 2;
// }

.post-content {
    &__intro {
        padding: 7rem 5rem;
        &:before {
            content: "";
            top: 12rem;
            left: 10rem;
            position: absolute;
            width: 200%;
            height: 75%;
            padding: 7rem 5rem;
            background: #f9f9f9;
        }
    }
    &__wrapper {
        height: auto;
        margin-bottom: 15rem;
        min-height: 100vh;
        &:last-of-type {
            margin-bottom: 0;
        }
        @media (max-width: 55rem) {
            margin-bottom: 5rem;
            min-height: auto;
            &:last-of-type {
                margin-bottom: 5rem;
            }
        }
    }
    &__final-wrapper {
        // background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(248,249,253,1) 100%);
        // background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(248,249,253,1) 100%);
        // background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(248,249,253,1) 100%);
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#f8f9fd',GradientType=0 );
        align-items: flex-start;
        background-color: #fafafb;
        display: flex;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin: 0 0 10rem 0;
        min-height: 100vh;
        padding: 10rem 0;
        @media (max-width: 55rem) {
            padding: 0;
        }
        &__thoughts {
            margin: 0 auto;
            max-width: 60rem;
            text-align: center;
            &__title {
                color: #ced3d6;
                display: inline-block;
                font-family: "TF Opicular Bold";
                letter-spacing: 2.7px;
                margin: 0 0 1rem 0;
                text-transform: uppercase;
                &:before {
                    background-color: #ced3d6;
                    border-radius: 50%;
                    content: "";
                    display: inline-block;
                    height: 9px;
                    margin-right: 0.8rem;
                    position: relative;
                    width: 9px;
                }
            }
            &__content {
                color: #7a7c82;
                color: $blue;
                font-family: "Helvetica Neue Medium";
                font-size: 1.5rem;
                letter-spacing: 0;
                line-height: 1.6;
                margin: 0;
                text-align: left;
                @media (max-width: 55rem) {
                    font-size: 1.25rem;
                }
            }
        }
    }
    &__title {
        // color: #35363a;
        // font-family: "Helvetica Neue Medium";
        // font-family: Helvetica Neue;
        // font-size: 1.5rem;
        // font-weight: 400;
        align-items: center;
        align-self: flex-end;
        color: #c0c4c7;
        display: flex;
        flex: 3;
        font-family: "Helvetica Neue Light";
        font-size: 1.2rem;
        font-weight: 400;
        justify-content: flex-start;
        letter-spacing: 1.2px;
        line-height: 1.8;
        margin: 0 0 0.1rem 0;
        padding-bottom: 1rem;
        text-transform: uppercase;
        &:before {
            // content: "";
            // width: 9px;
            // height: 9px;
            // display: inline-block;
            // position: relative;
            // border-radius: 50%;
            // background-color: #fff710;
            // margin-right: 0.8rem;
        }
        @media (max-width: 55rem) {
            margin-bottom: 0.25rem;
        }
    }
    &__hero {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        &__type {
            background: #fff710;
            color: #000000;
            display: inline-block;
            font-family: "GT";
            font-size: 0.8rem;
            letter-spacing: 0.4px;
            margin-bottom: 0.5rem;
            margin: 0;
            padding: 0.2rem 0.3rem;
            position: relative;
            text-transform: uppercase;
            .bold {
                font-family: "TF Opicular Bold";
            }
        }
        &__title {
            color: #35363a;
            font-family: $primary-font-stack;
            font-size: 2.3rem;
            font-weight: 400;
            letter-spacing: 0.8px;
            line-height: 1.35;
            margin: 0;
        }
    }
    &__paragraph {
        // color: #646876;
        // font-family: "Univers";
        // font-size: 1.2rem;
        // line-height: 1.2;
        color: #000000;
        flex: 1;
        font-family: "Helvetica Neue";
        font-size: 1.2rem;
        font-size: 2.1rem;
        letter-spacing: -0.6px;
        line-height: 1.2;
        margin: 0 0 2.5rem 0;
        &--medium {
            font-size: 1.5rem;
        }
        &--large {
            font-size: 2.1rem;
        }
        @media (max-width: 55rem) {
            font-size: 1.5rem;
            line-height: 1.5;
        }
    }
    &__link {
        color: #000;
        display: block;
        font-family: "Helvetica Neue Medium";
        font-size: 1rem;
        margin-top: 5rem;
        text-align: left;
        &:not(.post-content__link--inactive):after {
            content: "";
            background-image: url("/assets/img/cursor-filled.svg");
            background-size: 1.3rem;
            width: 1.3rem;
            height: 1.3rem;
            display: inline-block;
            margin: 0rem 0.4rem -0.3rem 0.4rem;
            position: relative;
        }
        &--inactive {
            pointer-events: none;
            text-decoration: line-through;
        }
    }
    &__section-title {
        font-family: $bold-font-stack;
        font-size: 2rem;
        margin: 0 0 2rem 0;
    }
    &__image-meta {
        flex: 1;
        margin: 0;
        margin: 1rem;
        min-width: calc(50% - 2rem);
        position: relative;
        text-align: center;
        width: 100%;
        @media (max-width: 55rem) {
            flex: 100%;
            margin-bottom: 2rem;
        }
        &__item {
            margin: 0;
            position: relative;
            text-align: left;
            &:before {
                // font-family: "ITC";
                align-items: flex-end;
                background: linear-gradient(to bottom, rgba(0,0,0,0) 75%,rgba(0,0,0,0.75) 100%);
                border-bottom: 2px solid white;
                color: #fff;
                content: attr(data-author);
                display: flex;
                display: inline-block;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
                font-size: 1rem;
                font-weight: 400;
                height: 100%;
                justify-content: flex-start;
                left: 0;
                letter-spacing: 1.1px;
                margin: 0;
                padding: 2rem;
                position: absolute;
                text-decoration: underline;
                text-transform: uppercase;
                top: 0;
                width: 100%;
            }
        }
    }
    &__image {
        // filter: grayscale(1);
        background-color: #f5f5f5;
        height: 90vh!important;
        width: 100%;
        &--mobile {
            background-color: transparent;
            height: 100%!important;
        }
        &.resting {
            left: 0!important;
            position: relative!important;
            top: 0!important;
            width: auto!important;
        }
        &.fixed {
            position: fixed!important;
            transform: translateZ(0);
            top: 5vh!important;
            width: inherit;
        }
        &.end {
            left: 0!important;
            position: absolute!important;
            width: inherit;
        }
        &__title {
            color: #000;
            font-family: "Helvetica Neue Medium";
            font-size: 1.2rem;
            letter-spacing: 0.1px;
            margin: 0.5rem 0 2rem 0;
            text-align: left;
        }
        &__content {
            animation: fadeOutCross 1.25s linear forwards;
            background-blend-mode: luminosity;
            background-color: #fff710;
            background-position: center!important;
            background-repeat: no-repeat!important;
            background-size: cover!important;
            height: 100%;
            left:0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: opacity 0.5s ease-in-out;
            width: 100%;
            z-index: 1;
            &--mobile {
                height: 30rem;
                margin: 2.5rem 0;
                position: relative;
            }
            &:before {
                align-items: flex-end;
                background: linear-gradient(to bottom, rgba(0,0,0,0) 75%,rgba(0,0,0,0.75) 100%);
                color: #fff;
                content: attr(data-author);
                display: flex;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
                font-family: "Helvetica Neue";
                font-size: 0.6rem;
                font-weight: 400;
                height: 100%;
                justify-content: flex-start;
                left: 0;
                letter-spacing: 1.1px;
                margin: 0;
                padding: 1rem;
                position: absolute;
                text-transform: uppercase;
                top: 0;
                width: 100%;
            }
            &--nofilter {
                background-blend-mode: normal;
                background-color: transparent;
                &:before {
                    filter: none;
                }
            }
            &.fadein {
                animation: fadeInCross 1.25s linear forwards;
            }
        }
        &__wrapper {
            height: 100%;
            left:0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        &__number {
            color: #000;
            font-family: "GT";
            font-size: 2.5rem;
            position: absolute;
            top: 1.4rem;
            z-index: 999;
            &--helper {
                display: block;
                font-family: "Helvetica Neue Medium";  
                font-size: 3.8rem;
                line-height: 1.2;
                position: relative;
                top: 3rem;
            }
            &__wrapper {
                align-items: center;
                border: 50px solid transparent;
                border-bottom-color: #fff;
                display: flex;
                height: 0;
                justify-content: center;
                left: -3.2rem;
                position: relative;
                top: 0;
                width: 0;
                z-index: 99;
                &:after {
                    border: 50px solid transparent;
                    border-top-color: #fff;
                    content: "";
                    height: 0;
                    left: -50px;
                    position: absolute;
                    top: 50px;
                    width: 0;
                }
                &--helper {
                    display: block;
                    left: -1.5rem;
                    max-width: 45vw;
                    position: relative;
                    transform: translateZ(0);
                    z-index: 1;
                }
            }
        }
    }
    &__fixed-block {
        width: 45vw;
        &--full-width {
            max-width: 100%;
            width: 94.5vw;
            @media (max-width: 55rem) {
                width: 100%;
            }
        }
    }
}

.lazyimage {
    background-color: $yellow;
    display: block;
    min-height: 20rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 100%;
    &--loaded {
        opacity: 1;
    }
    > .image {
        display: block;
        width: 100%;
    }
}


//post info
// .post-info {
//     margin-bottom: 20rem;
//     display: flex;
//     &__hook {
//         background-color: #fff710;
//         padding: 3rem 3rem 10rem 3rem;
//         height: auto;
//         min-height: 28rem;
//         @media (max-width: 55rem) {
//             padding: 2rem 2rem 5rem 2rem;
//         }       
//         &__title {
//             margin: 0;
//             font-family: $bold-font-stack;
//             max-width: 80%;
//             color: #31343F;
//             line-height: 1.25;
//             font-size: 3.1rem;
//             letter-spacing: -0.1px;
//             margin-bottom: 2rem;
//             @media (max-width: 55rem) {
//                 font-size: 2rem;
//                 max-width: 100%;
//             }
//         }
//     }
//     &__meta {
//         display: flex;
//         flex-flow: row nowrap;
//         border: 1px solid #999da2;
//         // padding: 2rem;
//         @media (max-width: 55rem) {
//             flex-flow: column nowrap;
//         }
//         &__item {
//             flex: 1;
//             padding: 3rem;
//             justify-content: space-between;
//             align-items: flex-start;
//             display: flex;
//             flex-flow: column nowrap;
//             display: flex;
//             @media (max-width: 55rem) {
//                 display: block;
//             }
//             &:first-child {
//                 margin-left: 0;
//                 border-right: 1px solid #999da2;
//                 @media (max-width: 55rem) {
//                     border-right: 0;
//                     border-bottom: 1px solid #999da2;
//                 }
//             }
//             &:last-child {
//                 margin-right: 0;
//                 border-left: 1px solid #999da2;
//                 @media (max-width: 55rem) {
//                     border-left: 0;
//                     border-top: 1px solid #999da2;
//                 }
//             }
//             &__title {
//                 margin: 0;
//                 font-size: 1.3rem;
//                 font-family: "ITC";
//                 font-family: "Univers";
//                 text-decoration: underline;
//                 margin: 0 0 2rem 0;
//             }
//             &__detail {
//                 font-size: 1.2rem;
//                 font-family: $primary-font-stack;
//                 font-family: "Univers";
//                 line-height: 1.6;
//                 margin: 0;
//                 list-style: none;
//                 position: relative;
//                 padding-left: 0;
//                 // list-style-image: url("../../../assets/img/diamond.svg");
//                 &__item {
//                     position: relative;
//                     &--list {
//                         padding-left: 1.5rem;
//                         position: relative;
//                         &:before {
//                             content: "";
//                             position: absolute;
//                             top: 50%;
//                             transform: translateY(-50%);
//                             left: 0;
//                             width: 10px;
//                             height: 10px;
//                             background-size: 10px;
//                             background-position: center;
//                             background-repeat: no-repeat;
//                             background-image: url("./assets/img/diamond.svg");
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }