$primary-font-stack: "GT Regular", "TF Opicular Regular", "Calibre Regular", sans-serif;
$light-font-stack: "GT Regular", "TF Opicular Regular", "Calibre Light", sans-serif;
$bold-font-stack: "GT Regular", "TF Opicular Regular", "Calibre Bold", sans-serif;