$primary-font-stack: "GT Regular", "Calibre Regular", sans-serif;
$secondary-font-stack: "TF Opicular", "Calibre Regular", sans-serif;
$light-font-stack: "GT Regular", "TF Opicular", "Calibre Light", sans-serif;
$bold-font-stack: "TF Opicular Bold", "Calibre Bold", sans-serif;

$black: #000000;
$white: #ffffff;
$mid-grey: #e6e7e8;
$yellow: #fff710;
$bright-yellow: #ff0;
$blue: #2752ff;
$text-black: #31343F;

$global-section-padding: 3rem 6rem;
$global-section-padding-mobile: 2rem;

$global-large-padding: 17.5rem 5rem;
$global-jumbo-padding: 12.5rem 6rem;
$global-jumbo-padding-tb: 12.5rem 0;

$container-max-widths: (
  xl: 1100px
);

$grid-breakpoints: (
  xl: 1200px
);

@import "~bootstrap/scss/bootstrap-grid";