.post-content__image__number {
	position: absolute;
	font-family: "TF Opicular Bold";
	color: #000;
	font-size: 2.5rem;
	margin: 0;
	top: 2.5rem;
	left: -1.5rem;
}


.scroll-anchor {
	&.resting {
		left: 0!important;
		position: relative!important;
		top: 0!important;
		width: auto!important;
		background-size: cover!important;
		background-repeat: no-repeat!important;
		background-position: center!important;
		animation: background 0.1s ease-in-out!important;
	}
	&.fixed {
		position: fixed!important;
		top: 5vh!important;
		background-size: cover!important;
		background-repeat: no-repeat!important;
		background-position: center!important;
		animation: background 0.1s ease-in-out!important;
	}
	&.end {
		left: 0!important;
		position: absolute!important;
		background-size: cover!important;
		background-repeat: no-repeat!important;
		background-position: center!important;
		animation: background 0.1s ease-in-out!important;
	}
}