.post-content {
	&__image {
		filter: grayscale(1);
		width: 100%;
    	height: 100%;
		height: 90vh!important;
    	background-color: #f5f5f5;
    	&__content {
    		z-index: 1;
    		position: absolute;
	    	top: 0;
	    	left:0;
	    	width: 100%;
    		height: 100%;
    		opacity: 0;
    		transition: opacity 0.5s ease-in-out;
    		&.fadein {
    			opacity: 1;
    		}
    	}
    	&__wrapper {
    		position: absolute;
	    	top: 0;
	    	left:0;
	    	width: 100%;
    		height: 100%;
    	}
		&__number {
			position: absolute;
			font-family: "TF Opicular Bold";
			color: #000;
			font-size: 2.5rem;
			margin: 0;
			top: 2.5rem;
			left: -1.5rem;
			z-index: 99;
		}
	}
}

.scroll-anchor {
	&.resting {
		left: 0!important;
		position: relative!important;
		top: 0!important;
		width: auto!important;
		> .post-content__image__wrapper {
			> .post-content__image__content {
				background-size: cover!important;
				background-repeat: no-repeat!important;
				background-position: center!important;
			}
		}
	}
	&.fixed {
		position: fixed!important;
		top: 5vh!important;
		> .post-content__image__wrapper {
			> .post-content__image__content {
				background-size: cover!important;
				background-repeat: no-repeat!important;
				background-position: center!important;
			}
		}
	}
	&.end {
		left: 0!important;
		position: absolute!important;
		> .post-content__image__wrapper {
			> .post-content__image__content {
				background-size: cover!important;
				background-repeat: no-repeat!important;
				background-position: center!important;
			}
		}
	}
}