<div class="container">
    <!-- <div class="flex">
        <div class="splitter"></div>

        <div data-cmp-filters></div>
    </div> -->

    <!-- <div class="home-grid">
      <ul class="home-grid__wrapper">
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">a</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">b</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">c</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">d</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link">e</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">f</a></li>
      </ul>
      <ul class="home-grid__wrapper">
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">g</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">h</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">i</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">j</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">k</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">l</a></li>      
      </ul>
      <ul class="home-grid__wrapper">
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">m</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">n</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">o</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">p</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">q</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">r</a></li>
      </ul>
      <ul class="home-grid__wrapper">
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">s</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link">t</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">u</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">v</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link">w</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">x</a></li>
      </ul>
      <ul class="home-grid__wrapper">
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">y</a></li>
        <li class="home-grid__item"><a href="" class="home-grid__item__link disabled">z</a></li>
      </ul>
    </div> -->

    <div class="article__inner">
      <div *ngFor="let post of posts?.posts" class="jumbo_text no-margin-top" [class.jumbo_text--inactive]="!post?.status">
        <a [routerLink]="['/post/', post?.link]">
          <h2>{{post?.title}}</h2>
          <p class="text-wipe" [innerHTML]="post?.description"></p>
        </a>
      </div>

    </div>
    
</div>