<!-- <div class="container container--long-bottom">
    <div class="article__inner article__inner--alt">
      <h2 class="jumbo-text__header">Projects</h2>
      <div *ngFor="let post of posts?.posts" class="jumbo-text" [class.jumbo-text--inactive]="!post?.status">
        <a class="jumbo-text__link" [routerLink]="post?.status ? ['/' + post?.type, post?.link] : ['/']">
          <h2 class="jumbo-text__title">{{post?.title}}</h2>
        </a>
      </div>
    </div>
</div> -->

<div class="container container--long-bottom">
    <div class="jumbo-text article__inner" *ngFor="let post of posts?.posts" [class.jumbo-text--inactive]="!post?.status">
      <a class="row jumbo-text__link" [routerLink]="post?.status ? ['/' + post?.type, post?.link] : ['/']">
        <div class="col-lg-3 justify-content-start">
          <div class="jumbo-text__title__container">
            <h2 class="jumbo-text__title">{{post?.title}}</h2>
            <span *ngIf="post?.isNew" class="pill">New</span>
          </div>
        </div>
        <div class="col-lg-9 justify-content-start">
          <p class="jumbo-text__content" [innerHTML]="post?.description"></p>
        </div>
      </a>
    </div>
</div>




